body {
  text-align: center;
}

.container1 {
  border: 1px solid red;
  display: inline-flex;
  font-size: 48px;
  text-align: center;
  letter-spacing: 20px
}

.container2 {
  border: 1px solid red;
  display: inline-flex;
  font-size: 24px;
}

#guesses-remaining {
  border: 1px solid red;
  margin-left: 5px;
}

#message {
  border: 1px solid red;
  margin: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

#list {
  border: 1px solid red;
  padding-left: 400px;
}

.myStyle {
  display: none;
}